html, body {
  font-family: Gotham, Arial, Helvetica, sans-serif; 
}

.dropdown-menu {
  background-color: lightslategray !important;

  a, a:visited {
    color: white;
    font-family: Gotham, Arial, Helvetica, sans-serif;
  }

  a:hover {
    color: lightslategray;
  }
}

img {
	border-radius: 0; 
}

@font-face {
  font-family: 'Gibson Bold';
  src: url('fonts/gibson-bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Gibson';
  src: url('fonts/Gibson-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Ultra.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Narrow';
  src: url('fonts/GothamNarrow-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url('fonts/Gotham-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}



.btn {
  font-family: 'Gibson Bold';
  padding: .375rem 1.5rem !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

iframe {
  /* optional */
  width: 100%;
  height: 100%;
}

.site {
  display: flex !important;
  flex-direction: column !important;
  
}

body.woocommerce #primary {
  float: none;
  width: 100%;
}


.pre_header {
  background-color: $coloradosPreHeaderGreen;
  color: $coloradosPreHeaderGreen;
  -webkit-box-shadow: 0px 0px 5px 1px #000;
    -moz-box-shadow: 0px 0px 5px 1px #000;
    box-shadow: 0px 0px 5px 1px #000;
    z-index: 1;
}



.main_logo {
  display: flex;
  justify-content: center;
	
	@media (max-width: 1100px) {
		max-width: 60% !important;
		margin:0 auto;
		padding: 0 !important;
	}
	
	& a {
		position: relative;
		
		&:hover {
			text-decoration: none;
		}
	}
	
	& span {
	position: absolute;
    right: -100px;
    color: #fcbc1e;
    font-weight: 400;
    top: -7px;
    font-style: italic;
	font-size: .9rem;
	
		
		img {
			max-width: 70px;
   			padding-top: 8px;
		@media (max-width: 1100px) {	
			display: inline;
    		padding: 0;
    		margin-top: -5px;
			}
		}
		
	@media (max-width: 1100px) {
	position: relative;
    text-align: left;
    top: 5px;
    right: auto;
	}
		
	&:after {
	content: '';
    position: absolute;
    width: 50%;
    border-top: 1px solid #4cb051;
    top:50%;
    left: -10px;
			
	@media (max-width: 1100px) {
	left: 0;
    right: 0;
    margin: 0 auto;
    top: -5px;
	}
		}
	}
	
	& img {
		width: 250px;
		max-width: 100%;
	}
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-top:20px;
	@media (max-width: 768px) {
		height: 85vh;
	}
	
	
	& .col-lg-2:last-child{
		padding: 0;
		@media (max-width: 768px) {
		position: absolute;
		right: 0;
		max-width: 40%;
		top: 0;
		padding:0;
	}
		& .container {
			padding: 0 !important;
		}
		
		& .col-md-4 {
			max-width: 55px;
		}
	}
	
& .second{
		@media (max-width: 1100px) {
		display: none;
	}
	}
	
	

	
  & > .row {
    width: 1440px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto !important;
	align-items: center;
}
	
	& video {
	position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
	}
	
	& .btn-warning {
		background: transparent;
		color: #ffc107;
		padding-left: 30px;
    	padding-right: 30px;
		position: absolute;
    	bottom: 50px;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
		@media (max-width: 768px) {
		   width:300px;
            }
		  @media (max-width: 500px) {
		   width:90%;
		   bottom: 100px;
            }
	}


  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {

  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {

  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {

  }

  .social_logos {
	  
	 
	  
	  &:nth-of-type(1) img {
		  width:12px;
	  }
	  &:nth-of-type(2) img {
		  height: 25px;
	  }
	  &:nth-of-type(3) img {
		  height: 25px;
	  }
	  &:nth-of-type(4) img {
		  height: 25px;
	  }
	  
	  img {
		  -webkit-filter: drop-shadow(5px 5px 5px #222);
  		  filter: drop-shadow(5px 5px 5px #222);
	  }
  }
	
	.icons {
		
		& .row {
			justify-content: flex-end;
		}
		@media (max-width:1100px) {
		position: absolute;
		right: 15px;
			
			& .col-md-4:first-child,& .col-md-4:nth-of-type(2){
				display: none;
			}
	}
}

  .product_items {
	  
    .icon_image {
	  background: #ffc107;
      display: grid;
      align-items: center;
      width: 40px !important;
      height: 40px !important;
	  border-radius: 50%;
      padding: 0 !important;
		
	  @media (max-width: 768px) {
	  width: 30px !important;
      height: 30px !important;
  		}

      img {
        height: 21px;
		display: block;
        margin: 0 auto;
		  
		@media (max-width: 768px) {
        height: 17px !important;
  		}
      }
    }
	  
	  &:last-child img {
		  max-width: 21px;
		@media (max-width: 768px) {
         max-width: 17px;
  		}
	  }
  }
	
	& .social-block{
	 padding: 0;
		
		@media (max-width: 1100px) {
			 display: none;
			 float: left;
			 width: 15%;
			 position: absolute;
			 /*display: block;*/
			 top: 10px;
			}
		
		& .row {
			@media (max-width: 1100px) {
			 display: block !important;
			}
		}
	
		& .container {
		padding: 0;
		
			& .col-md-3 {
				
				&:first-child {
					@media (min-width: 1500px) {
					flex: 0 0 10% !important;
    				max-width: 10% !important;
					}
				}
		    @media (min-width: 1500px) {
   			 -ms-flex: 0 0 15% !important;
    		  flex: 0 0 15% !important;
    		  max-width: 15% !important;
			  padding: 0 !important;
			}
			@media (max-width: 1100px) {
    		  max-width: 100% !important;
			  margin-bottom:10px;
			}
			}
	}
	}
}


.woocommerce-page:not(.single) .header_short,.page .header_short {
	@media (min-width: 768px) {
		height: 250px !important;
	}
}


.header_short {
  background-image: url('images/herowallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:150px;
  overflow: initial;
}


.take_care {
  font-family: Gotham, Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding:1rem 0 0 !important;
  width: 1440px !important;
  max-width: 100% !important;
	
			& img:nth-of-type(1){
			 @media (max-width: 768px) {
			    position: absolute;
				 max-width: 12%;
				 padding-top: 10%;
				}
			}
	
	& .row {
		align-items: center;
	}
	
	& .col-md-6 {
		@media (min-width: 1490px) {
			   padding: 0;
				}
		@media (max-width: 768px) {
			   padding: 0;
				}
		
		
		.container {
			padding: 0;
			@media (max-width: 768px) {
			   max-width: 100%;
				}
		}
		
		.col-md-2 {
			padding: 0;
			
		}
		
		.col-md-9 {
			padding: 0;
		}
	}

  .take_care_description {
    font-weight: 300;
	  
	h2 {
    font-size: 3.5rem;
	font-family: 'Gotham Thin';
	line-height: 60px;
		
		@media (max-width: 1000px) {
			    font-size: 2rem;
			    line-height: 40px;
				}
  	}

    span {
      margin-top: 1rem;
      color: $coloradosPreHeaderGreen;
      font-family: 'Gibson Bold';
	  font-size: 1.7rem;
	 
	  @media (max-width: 768px) {
			    text-align: center;
		        font-size: 1.4rem;
		     	display: block;
				}
		 }

      .btn {
       margin: 20px auto;
       display: block;
       font-size: 1.3rem;
		  @media (max-width: 768px) {
			    margin-bottom:3rem;
				}
      }
    }
}

.featured_products {
  /*background-color: $coloradosOrange;*/
  background-image: url("images/home_products_backgroud.jpg");
  background-size: cover;
  padding: 3rem;
  position: relative;
	
	& .col-md-12 .col-md-12 {
		padding: 0;
	}
	
	& .btn{
				@media (max-width: 1450px) {
			    font-size: .8rem;
				padding: .375rem 1rem !important;
				}
			}
	
	&:before {
		content: '';
		background: rgba(252, 198, 63, .85);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	
	& img {
		width: 200px;
		max-width: 100%;
		padding-right: 25px;
	}

	& > .row {
		width: 1440px;
		max-width: 100%;
		margin: 0 auto !important;
	}
  & .products {
    display: flex;
	flex-wrap: wrap;
    color: white;
    font-family: Gotham, Arial, Helvetica, sans-serif;
	  
	
	  & .product {
		  margin-bottom:0 !important;
		  width: 33.33333%;
		  @media (max-width: 1000px) {
		 display: block !important;
	  }
	 @media (max-width: 500px) {
		 margin-bottom: 30px !important;
		 width: 100%;
		 display: flex !important;
	  }
	  }

   & a {
      color: white;
    }


    .product {
      display: flex;
      align-items: center; 

      .product_description {
        display: flex;
        flex-direction: column;
        text-align: left;

        .colorados_product_title {
          font-weight: bold;
          font-family: 'Gibson Bold';
          font-size: 2rem;
		  text-transform: uppercase;
			
		@media (max-width: 1450px) {
        font-size: 1.2rem;
  		}
		 @media (max-width: 500px) {
	 	 font-size: 1.3rem;
	     }
			
			& a:hover {
				text-decoration: none;
			}
        }
		  
		  

        .product_sizes {
          font-weight: 300;
          font-size: 0.9rem;
		  text-transform: uppercase;
        }

        .product_price {
          font-weight: bold;
          font-size: 0.8rem;
			
			& .price {
				color: white;
				font-family: 'Gibson Bold';
    			font-size: 2em;
		@media (max-width: 1450px) {
        font-size: 1.2em;
				}
		 @media (max-width: 500px) {
	 	 font-size: 1.3rem;
	     }
			}

          .price_title {
            font-weight: 300 !important;
          }
			
        }
      }
    }
  }
}

.cbd_shop_now {
  background-color: #EDEDED;
  background-image: url("images/video_wallpaper.jpg");
  background-size: cover;
	@media (max-width: 1000px){
		padding-top: 3rem;
	  }
	
	.col-md-3,.col-md-9 {
		@media (max-width: 1000px){
		 flex: 0 0 100%;
   		 max-width: 100%;
	  }
	}

  .cbd_description {
    background-color: $coloradosGray;
    color: $coloradosOrange;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-weight: 300;
    padding: 2rem 15px;
    text-align: right;
    line-height: 45px;
    letter-spacing: 2px;
	  @media (max-width: 1450px) {
	 	 font-size: 1.6rem;
		 line-height: 40px;
	     }
	  @media (max-width: 1000px) {
	 	 order:2;
	     }

    .product_description {
      color: black;
      font-size: 1rem;
      text-align: left;
      padding: 0.7rem 0.9rem 0;
      border: 1px solid $coloradosOrange;
      margin-bottom: 1rem;
      margin-top: 1.55rem;
      margin-right: -1rem;
	  letter-spacing: 0;
      line-height: 25px;
	  width: 540px; 
      padding-right: 205px;
		 @media (max-width: 1490px) {
	 	 padding-right:0;
	     width:100%;
	     }
    }
  }
	
	& > .row {
		width: 1440px;
		max-width: 100%;
		margin: 0 auto !important;
	}

  .cbd_video {
    display: flex;
    flex-direction: row;
    padding-left: -1rem !important;
    align-items: center;
    justify-content: flex-end;
	padding: 100px 0px;
	@media (max-width: 1450px){
		padding: 100px 15px;
	  }
	  @media (max-width: 1000px){
		padding: 0px 15px;
	  }
	  
	  & h2 {
	writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #ededed;
    font-family: 'Gotham';
    font-weight: bold;
    font-size: 10rem;
    line-height: 6rem;
    position: absolute;
    left: 0;
    letter-spacing: 41px;
		 @media (max-width: 1450px) {
	 	 
	     }
		 @media (max-width: 1000px) {
	 	bottom: -13px;
		left: -7px;
		right: 0;
		text-align: center;
		writing-mode: initial !important;
		font-size: 9rem;
		display: grid;
	     }
	  }
  }

  & video {
    border:0;
    top: 0;
    left: 0;
	width: 85%;
    max-width: 100%;
	  	 @media (max-width: 1000px) {
	 	 width: 100% !important;
		 margin-bottom:10rem;
	     }
	  }
  
	
	& .btn {
		font-size: 1.3rem;
		padding: .7rem 2rem !important;
   	    float: right;
        margin-top: 60px;
		position: relative;
		@media (max-width: 1000px){
			float: none;
		}
		
		&:before {
	content: '';
    position: absolute;
    left: 0;
    top: -95px;
    background: url(images/arrow.png);
    width: 161px;
    height: 83px;
    right: 0;
    margin: 0 auto;
		}
	}
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 100% !important;
}
}

.cbd_amazing_products {
  padding:4rem 2rem 2rem;
  max-width: 1100px !important;
  margin:0 auto;
	
	.col-md-6 {
	@media (max-width: 768px){
			padding:0 !important;
		}}

  .amazing_products {
    margin-bottom: 2rem;

	  & span {
		  color: #ffc107;
		  display: block;
   		  font-size: 2.4rem;
          letter-spacing: 2px;
          font-weight: 100;
          font-family: Gotham, Arial, Helvetica, sans-serif;
		  margin-bottom: 20px;
		  padding-left: 100px;
		  position: relative;
		  @media (max-width: 900px){
			  font-size: 1.2rem;
		  }
		  @media (max-width: 900px){
			  font-size: 1rem;
		  }
		  
		  &:before {
			  content:'';
			  width:35%;
			  border-top:1px solid  #ffc107;
			  position: absolute;
			  bottom: 0;
			  left: 150px;
			  @media (max-width: 900px){
			  left: 110px;
		  	  }
		  }
		  
		  &:last-child {
			  font-size: 3rem;
			  padding-left: 140px;
			  @media (max-width: 900px){
			  font-size: 1.6rem;
		  		}
			  @media (max-width: 500px){
			  font-size: 1.1rem;
		      padding-left: 110px;
		  		}
			  &:before {
				  left: 300px;
				  width:45%;
				  @media (max-width: 900px){
			  		left: 150px;
					width:55%;
		  	  		}
				  
			  }
		  }
	  }
	  
	  & .icon {
		  width: 120px;
    	  position: absolute;
          left: -20px;
		  opacity: .6;
		  @media (max-width: 1440px){
			  left:0px;
		  }
		  @media (max-width: 900px){
			  width:80px;
		  }
	  }
  }
	
	& .col-md-12 {
		  padding: 0 !important;
		  margin-bottom: 30px;
	  }
	
	& a {
		color: $coloradosOrange;
		font-size: 1.3rem;
		position: relative;
		padding-right: 50px;
		@media (max-width: 768px){
			  margin: 0 auto;
		  }
		&:hover {
			color:black;
			text-decoration: none;
		}
		
		&:after {
			content:'>';
			width:35px;
			height:35px;
			display: block;
			border:1px solid $coloradosOrange;
			color: $coloradosOrange;
			position: absolute;
			font-weight: 100;
    		right: 0;
    		top: -5px;
    		line-height: 35px;
    		text-align: center;
		}
	}
	.first_paragraph {
		margin-top:20px;
		padding-right: 0rem;
		padding-left: 3rem;
		@media (max-width: 768px){
			  padding-left:0;
		  }
	}
	.last_paragraph {
		
	}
  .first_paragraph, .last_paragraph {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-weight: 300;

    .shop_all_products {
      display: flex;
      flex-direction: row;
      color: $coloradosOrange;
      font-weight: bold;
      font-size: 1rem;
      margin-top: 1rem;
      text-align: right;
      align-items: center;
      justify-content: flex-end;

    }
  }
}

.power_to_heal.d-flex {
  display: flex;
  align-items: center;
  width: 1440px !important;
  max-width: 100% !important;
  margin: 0 auto;
  padding:0 !important;
	@media (max-width: 1450px){
			  padding-right:15px !important;
		  }
	@media (max-width: 1450px){
			  padding-right:0px !important;
		  }
	@media (max-width: 1000px){
			  display: block !important;
		  }
	
	& .col-md-8 {
		padding: 0;
		@media (max-width: 1000px){
		      flex: 0 0 100%;
   			  max-width: 100%;
		  }
	}
	
	& .col-md-4 {
		padding: 0;
		align-items: center;
		@media (max-width: 1000px){
		      flex: 0 0 100%;
   			  max-width: 100%;
			  display: block !important;
			  padding: 15px;
		  }
	}

  .power_to_heal_description {
    font-size: 1rem;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-weight: 300;
    border: 1px solid $coloradosOrange;
    padding: 1.5rem;
	position: absolute;
	width: 750px;
    padding-left: 310px;
    right: 0;
	  @media (max-width: 1350px){
		      width: 690px;
		  }
	  @media (max-width: 1300px){
		      width: 640px;
		  }
	  @media (max-width: 1000px){
			  display: block !important;
		      position: relative;
		      width:100%;
		      padding:15px;
		  }
	  
	  &:after {
	content: '';
    position: absolute;
    right: 150px;
    background: url(images/arrow_white_bg.jpg);
    width: 116px;
    height: 83px;
    right: 150px;
    margin: 0 auto;
	bottom: -70px;
		  @media (max-width: 1000px){
			  left:0;
			  right:0;
			  bottom: -60px;
		  }
	  }
  }
}

.the_magic_cbd {
  width:1440px;
  max-width: 100%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
    margin-bottom: 2rem;
	font-size: 4rem;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
	width: auto;
    margin: 0 auto 50px;
	padding:0;
	  @media (max-width: 1000px){
			  font-size: 3rem;
		  }
	  @media (max-width: 678px){
			  font-size: 1.7rem;
		  }
	  &:before {
		  content: '';
		  width:100%;
		  height: 15%;
		  background: $coloradosOrange;
		  position: absolute;
		  top: 45%;
          z-index: -1;
	  }
  }

  .spectrum {
    display: flex;
	  @media (max-width: 768px) {
				display: block;
		  		padding: 0;
			}

    .full_spectrum {
      display: flex;
      align-items: flex-end;
      padding: 3rem 3rem 1rem 3rem;
      background-image: url("images/full_spectrum.jpg");
      background-size: cover;
      flex-basis: 70%;
	  text-align: left;
			  @media (max-width: 768px) {
		  		padding:40px 15px 15px;
			}

      .full_spectrum_text {
        display: flex;
        padding-bottom: 3rem;
        flex-direction: column;
        color: white;
        font-family: Gotham, Arial, Helvetica, sans-serif;
        font-weight: 300;
		max-width: 70%;
		margin-left: 50px;
		  	  @media (max-width: 768px) {
				max-width: 100%;
				margin-left: 0;
			}
      }
		
		h3 {
			color: white;
			font-weight: 700;
		}

      .text {
        margin-bottom: 2rem;
      }
		
		.tagline {
			font-size: 4rem;
			margin-bottom: 60px;
			position: relative;
			font-family: 'Gotham Narrow';
			@media (max-width: 768px) {
				font-size: 3rem;
			}
			
			& span {
		position: absolute;
    	top: -30%;
    	padding-left: 30px;
    	font-size: 2.6rem;
    	line-height: 5rem;
			@media (max-width: 768px) {	
				position: absolute;
				top: -8%;
				padding-left: 30px;
				font-size: 1.6rem;
				line-height: 3rem;
				}
				&:before {
					content: '';
					width: 100%;
    				background: white;
    				display: block;
    				height: 1px;
    				position: absolute;
    				top: 50%;
    				left: 5%;
    				right: 0;
				}
				&:after {
					content: '';
					width: 1px;
    				background: white;
    				display: block;
    				height: 17%;
    				position: absolute;
    				top: 42%;
    				left: 55%;
    				right: 0;
				}
			}
		}
    }

    .customer_reviews {
      display: flex;
      flex-grow: 2;
      flex-basis: 30%;
      flex-direction: column;
	  background-image: url("images/customer.jpg");
      background-size: cover;
	  position: relative;
		@media (max-width: 768px) {
			background-image: none;
			overflow: auto;
			padding-top:40px;
		}
		
		& .text {
			-webkit-transform: rotate(270deg);
   			 position: absolute;
   			 font-size: 2.5rem;
			 height: 100%;
    		 font-weight: 700;
    		 color: #53b358;
			 font-family: 'Gibson Bold';
			 left: -40px;
    		 line-height: 112px;
    		 right: 0;
			@media (max-width: 1350px) {
				left:0;
				font-size: 1.6rem;
			}
			@media (max-width: 950px) {
				left:0;
				font-size: 1.1rem;
				line-height: 312px;
			}
			
			@media (max-width: 768px) {
			    position: relative;
				transform: none;
				left: 0;
				right: 0;
				margin: 0 auto -100px;
				color: white;
				z-index: 9;
				line-height: 50px;
				
		  }
			@media (max-width: 500px) {
				font-size: 1.8rem;
			}
			
			& span {
				color: white;
			}
		}

      .customer_review {
        display: flex;
        color: white;
		padding: 0 15px;  
		background: rgba(83, 179, 88, 0.9); 
		height: 50%;
		align-items: center;
		position: absolute;
   	    width: 100%;
        bottom: 0;
		  
		  @media (max-width: 768px) {
			  display: block;
			  position: relative;
			  padding:6rem 15px 2rem 15px;
		  }
		  @media (max-width: 400px) {
			  
		  }

        .review {
          display: flex;
          color: white;
          text-align: center !important;
          margin:0 auto;
          width: 300px;
		  max-width: 100%;
          font-family: Gotham, Arial, Helvetica, sans-serif;
          font-weight: 300;
          font-size: 1rem;
		  font-style: italic;
        }
      }
    }
  }
}


#main.about {
	font-family: Gotham, Arial, Helvetica, sans-serif;
    font-weight: 300;
	width:1200px !important;
	margin:30px auto 0 !important;
	max-width: 100%;
	
	article, .wp-block-columns,.wp-block-column {
		margin-bottom: 0 !important;
	}
	
	.entry-header,.edit-link {
		display: none;
	}
	
	.wp-block-column.img {
	display: flex;
    align-items: center;
	}
	h2 {
	color: $coloradosOrange;
    display: block;
    font-size: 2.8rem;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    padding-left: 100px;
    position: relative;
	text-transform: uppercase;
		@media (max-width: 1000px) {
			font-size: 2rem;
		}
		@media (max-width: 768px) {
			font-size: 1.2rem;
			padding-left: 70px;
		}
		
		
		&:nth-of-type(2) {
			font-size: 3.5rem;
   			padding-left: 140px;
			@media (max-width: 1000px) {
			font-size: 2.3rem;
			}
			@media (max-width: 768px) {
			font-size: 1.25rem;
			padding-left: 85px;
			}
		
			&:before {
				left: 250px;
				width:55%;
				@media (max-width: 768px) {
					left:150px;
					width:65%;
				}
			}
			&:after {
			content: '';
    		position: absolute;
    		top: 18px;
    		background: url(images/icon.png);
    		width: 100px;
    		height: 145px;
    		right: 60px;
    		top: -80px;
    		opacity: .6;
    		background-size: 100%;
			@media (max-width: 1000px) {
			left:0;
		  	right:auto;
			}
			@media (max-width: 768px) {
			width: 70px;
    		height: 101px;
			top:-60px;
			}
		   }
		}
		
	&:before {
    content: '';
    width: 35%;
    border-top:1px solid  #ffc107;
    position: absolute;
    bottom: 0;
    left: 150px;
		@media (max-width: 768px) {
			left:100px;
			width: 45%;
		}
	}

	}
	
	h3 {
		font-weight: 600;
	}
	
	.orange-bg {
		display: block;
		position: relative;
		@media (max-width: 768px) {
			margin-bottom:40px;
		}
		
		&:before {
			content: '';
			position: absolute;
			background-color: $coloradosOrangeBackground;
			width: 80%;
    		height: 110%;
    		right: -5%;
    		z-index: -1;
    		top: -5%;
		}
	}
	.narrow {
		
		margin:0 auto 4px !important;
	}
	.orange-table {
		background-color: $coloradosOrangeBackground;
		color: white;
    	padding: 2rem 0;
		position: relative;
		
		&:before {
			content: '';
			background-color: $coloradosOrangeBackground;
			position: absolute;
			width: 20%;
			left: -10%;
			height: 100%;
			top: 0;
    		z-index: -1;
		}
		&:after {
			content: '';
			background-color: $coloradosOrangeBackground;
			position: absolute;
			width: 20%;
			right: -10%;
			height: 100%;
			top: 0;
    		z-index: -1;
		}
		
		& h3 {
			color: white;
		}
	}
	
		.offset-top {
			margin-top: -150px;
    		display: block;
    		position: relative;
			z-index: 9;
			margin-bottom: 5px;
		}
	
	.narrow-last .wp-block-column{
		flex-basis: calc(50% - 0px);
		margin: 0;
		
		&:last-child {
			padding-left: 20px;
		}
		}
}


.highest_quality_ingredients {
	background: #FBC63F;
	
	@media (max-width: 768px) {
		display: block !important; 
	}
	
	& .container {
		padding: 0;
		@media (max-width: 768px) {
		max-width: 100% !important;
		}
	}

	
	& .first {
	display: grid;
    height: 100%;
    align-items: flex-end;
	}
	& .col-md-4 {
		float: left;
		text-align: center;
		color: white;
		padding: 0;
		position: relative;
		
		&:nth-of-type(2),&:nth-of-type(3){
			@media (max-width: 768px) {
		 display: grid;
         align-items: center;
			}
		}
		
		&:nth-of-type(2):after {
			content:'';
			width:160%;
			position: absolute;
			right: 0;
			border-top: 1px solid white;
			display: block;
			@media (max-width: 768px) {
				display: none;
			}
		}
		
		&:nth-of-type(3):after {
			content:'';
			width:220%;
			position: absolute;
			right: 10%;
			border-top: 1px solid white;
			display: block;
			z-index: 9;
			@media (max-width: 768px) {
				display: none;
			}
		}
		
		& h3 {
			     text-align: right;
   				 color: white;
   				 font-family: 'Gotham Narrow';
    			 letter-spacing: 3px;
			     padding-bottom: 50px;
    		     display: table;
                 margin: 0 auto;
				 font-size: 2rem;
					@media (max-width: 1000px) {
			 		 font-size: 1.5rem;
		  			}
					@media (max-width: 768px) {
			 		 text-align: center;
					 padding-top: 2rem;
					 padding-bottom: 1rem;
		  			}
		}
	
		& span {
			position:absolute;
			font-family: 'Gibson Bold';
    		font-size: 2rem;
			left: 0;
    		right: 0;
			top:110px;
			
			@media (max-width: 1000px) {
			  top:50px;
			  font-size: 1.5rem;
		  	}
			@media (max-width: 768px) {
			  top:auto;
		  	}
			
		}
	
	}
	
	
	
	
	
}

.highest_quality, .highest_quality_procesing {
  display: flex;
  align-self: center;
  background-color: $coloradosOrangeBackground;
}

.colorados_finest_advantage {
  padding: 4rem 15px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  background:#f9f6ef;

  .logo {
    margin: 0 auto 30px;
	max-width: 100px;
  }

  .title {
  }

  .description {
    font-size: 1rem;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-weight: 300;
	max-width: 700px;
    margin: 0 auto;
	  
	  & h3 {
		  width: 100%;
		  color: #53b358;
		  font-family: 'Gotham Narrow';
		  font-size: 2.5rem;
		  @media (max-width: 768px) {
			  font-size: 1.5rem;
		  }
	  }
  }

  .cta {
    margin-top: 2rem;
	position: relative;
  }
	.seed img {
	max-width: 450px;
    margin: -50px auto 0px;
	}
}

.social_box {
  display: flex;

  .not_for_human {
    display: flex;
    width: 1440px;
	max-width: 100%;
	margin: 0 auto;
	  
	  @media (max-width: 768px) {	
				display: block;
				}

    .description {
      display: grid;
	  align-items: center;
      flex-direction: column;
      flex-basis: 40%;
      background-color: $coloradosGray;
      padding: 2rem;
		@media (max-width: 1000px) {	
				flex-basis: 50%;
				}
		@media (max-width: 768px) {	
				padding: 2rem 15px;
				}

      h2 {
        display: flex;
        color: $coloradosPreHeaderGreen;
        font-family: 'Gotham Narrow';
        font-size: 2.1rem !important;
        font-weight: 300;
        margin-bottom: 0;
		  
		  & br {
			  @media (max-width: 1000px) {	
				display: none;
				}
			  @media (max-width: 768px) {	
				display: block;
				}
		  }
      }
		
		& strong {
			font-weight: bold;
		}

      .pet_description {
        font-family: Gotham, Arial, Helvetica, sans-serif;
        font-weight: 300;


        h2 {
          font-size: 1.1rem;
        }
      }

      .read_more {
        display: flex;
      }
    }

    .photo {
		background: #EDEDED;
		@media (max-width: 1000px) {	
				flex-basis: 50%;
			    align-items: center;
    			display: grid;
				}
     
    }
  }
}

.colorado_finest.container {
	width:1440px;
	max-width: 100%;
	padding:0;
	
	& .col-md-6 {
		padding: 0;
		position: relative;
		
		&:first-child:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba(255, 255, 255, 0.7)
		}
		
		& .content{
			position: absolute;
			top: 25%;
			text-align: center;
			@media (max-width: 1000px) {	
				top: 10%;
				}
			@media (max-width: 500px) {	
				top: 15%;
				}
			
			& .icon {
				max-width: 120px;
    			margin: 0 auto 30px;
				filter:none;
				@media (max-width: 500px) {	
				max-width: 80px;
				}
				
			}
			
			& img {
				max-width: 70%;
    			margin: 0 auto 30px;
				-webkit-filter: drop-shadow(5px 5px 5px grey);
                filter: drop-shadow(5px 5px 5px grey);
			}
			
			& .btn {
				background-color: $coloradosYellow;
				color: white;
				padding: .5rem 2rem !important;
			}
		}
	}
	
}

footer {
  background-color: $coloradosPreHeaderGreen;
  color: white;
  font-family: Gotham, Arial, Helvetica, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column; // column

  ul {
    list-style: none;
    font-size: 0.8rem;

    li:first-child {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  .footer_margin {
    background-color: $coloradosYellow;
    color: $coloradosYellow;
  }

  .foo {
    padding: 2rem 15px;

    a, a:visited {
      color: white !important;
    }

    .footer {
      display: flex;
	  width: 1440px;
  	  max-width: 100%;
  	  margin: 0 auto;
	  overflow: auto;
		
		@media (max-width: 1000px) {
		display: block;
		}
		
		& ul {
			@media (max-width: 1000px) {
				margin:30px 0 0 0 !important;
			}
		}
		
		& li {
			font-size: 18px;
   			padding-bottom: 4px !important;
   		    display: block;
			@media (max-width: 1000px) {
				font-size: 13px;
			}
		}
		
		& ul >li:first-child{
			margin-bottom:8px;
			font-family: 'Gibson Bold';
			letter-spacing: 1px;
		}
		
		& li.heading {
			margin-bottom: 8px;
    		font-family: 'Gibson Bold';
    		letter-spacing: 1px;
    		text-transform: uppercase;
    		margin-top: 16px; 
		}
		
		.row {
			   align-items: center;
		}
		
		.social_logos{
			flex: initial;
			float: left;
    		width: auto;
			max-width: none;
			
			@media (max-width: 768px) {
			width: 25%;
			flex: content;
			padding: 0;
			}
		
			&:first-child {
			padding-left: 0;
			img {
				width: 11px;
			}
			@media (max-width: 468px) {	
			 width: auto;
   			 padding-right: 5px;
				}
			}
			
		img {
			width: 25px;
		}
		}
		


      .footer_description {
        .logo {
          margin-bottom: 0.5rem;
        }

        display: flex;
        flex: 2 2;
        flex-direction: column;
        font-size: 1rem;

        .fda_notice {
          font-size: 0.6rem;
          margin-top: 1rem;
        }
		  
		  & .footer_description_text {
			  
			  @media (min-width: 1200px) {
			  padding-right: 100px;
			  }
		  }
      }

      .footer_menu {
        display: flex;
        flex: 1 1;
		@media (max-width: 1000px) {
		display: block;
		float: left;
		width: 33%;
		}
		  @media (max-width: 480px) {
		margin-top:0 !important;
		padding-right: 20px;
		}
      }

      .footer_learn {
        display: flex;
        flex: 1 1;
		  @media (max-width: 1000px) {
		display: block;
		float: left;
		width: 33%;
		}
		  @media (max-width: 480px) {
		padding-right: 20px;
		}
      }

      .footer_help {
        display: flex;
        flex: 1 1;
		  @media (max-width: 1000px) {
		display: block;
		float: left;
		width: 33%;
		}
      }
    }
  }

  .footer_footer {
    color: white;
    font-family: 'Gibson Bold';
    background-color: $coloradosYellow;
    padding: 0.5rem;
    text-align: center;
  }
}


.single-product{
	
		.images .wpgis-slider-for {
			background: #f4f4f4;	
		}
	
	.images {
		@media (min-width: 768px) {
			width: 48.1764705882% !important;
    		margin-right: 1.8823529412% !important;
		}
		
		& #wpgis-gallery .slick-slide {
			 background: grey;
    		 opacity: .5;
			 border:2px solid white !important;
			 margin: 0 5px;
			
			&.slick-current {
				border:2px solid $coloradosOrange !important;
				opacity: 1;
				outline: none;
			}	
		
		& img {
			    border: 5px solid white;
		}
			
			}
	}
	
	.entry-summary {
		padding-top:20px;
		@media (min-width: 768px) {
		width: 49.9411764706% !important;
		}
	}
	
	.entry-title {
		font-weight: 600 !important;
		text-transform: uppercase;
	}
	
	.woocommerce-product-details__short-description {
		font-weight: 300;
	}
	
	select, input {
		font-weight: 300 !important;
    	font-family: Gotham, Arial, Helvetica, sans-serif !important;
		border-radius: 3rem !important;
	}
	
	.price {
		font-size: 3rem;
	}
	
	.woocommerce-Price-amount {
		font-size: 3rem;
		padding-left: 15px;
	}
	
	
	button.btn-warning {
		background-color: $coloradosOrange;
		text-transform: uppercase;
		color: white;
		font-weight: 700;
    	font-size: 1.5rem;
		font-family: Gotham, Arial, Helvetica, sans-serif !important;
	}
	
	.table:not(.table_products) tr:nth-child(2n + 2):not(:last-child) td {
		background: #f4f4f4 !important;
	}
	
		.table:not(.table_products) tr:nth-child(2n + 1):not(:last-child) td {
		background: #fff !important;
	}
	
	
	.woocommerce-variation, .table {
		width: 100%;
		
		& table {
			margin-top:25px;
		}
		
		& th {
			padding-left: 0;
			font-size: 1.3rem;
		@media (max-width: 768px) {
			font-size: .9rem;
		}
		}
		& th, tr {
			background: transparent !important;
			border:0 !important;
		}
		
		& td, th[scope="row"] {
			font-weight: 300;
			border: 0 !important;
			background: transparent !important;
			font-size: 1rem;
			padding:.75rem;
		}
		
		& tr:nth-child(2n + 1):not(:last-child) td, tr:nth-child(2n + 2) th[scope="row"]{
    		background: #f4f4f4 !important
		}
		
		& a {
			font-weight: 600;
    		color: #FBC63F;
    		text-decoration: underline;
    		display: block;
    		text-align: center;
    		font-size: 1.4rem;
    		margin-top: 15px;
			outline: none;
			
		}
		
	}
	
	.product_meta {
			display: none;
		}
}




.page {
	
	#main {
		width: 1440px;
		max-width: 100% !important;
		margin: 0 auto;
		padding: 0;
	}
}











