.coupon_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
		@media (max-width: 768px) {
	 	 display: block;
	     }

  .cf_coupon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    background-color: $coloradosGray;
    border-right: 5px solid white;
    width: 50%;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
	  	 @media (max-width: 768px) {
	 	 width: 100%;
		 border-right: 0;
		 border-bottom:5px solid white;
		 padding:30px 15px;
	     }
	  &:first-child {
		  padding-left: 0;
		  background-image: url('images/shop_header.png');
  		  background-repeat: no-repeat;
  		  background-size: cover;
	  }
	  &:last-child {
		  border-right: 0;
	  }

    .code {
      font-size: 1.7rem;
      color: $coloradosPreHeaderGreen;
    }
  }
}