.coupon_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .cf_coupon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: $coloradosGray;
    margin-top: 1rem;
    border-right: 5px;
    width: 300px;
    font-family: Gotham, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;

    .code {
      font-size: 1.3rem;
      color: $coloradosPreHeaderGreen;
    }
  }
}