.colorado_product {
  font-family: Gotham, Arial, Helvetica, sans-serif;
  display: flex !important;
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;

  .colorado_product_gallery {
    display: flex !important;
    overflow: hidden !important;
    width: 100%
  }
}

.colorado_variations {
  display: flex;

  .colorado_variation {
    margin-right: 1rem;
  }

  align-items: flex-end;
}

.variation_price {
  display: flex;
  color: $coloradosYellow !important;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: bold;

  .price_title {
    margin-right: 0.5rem;
    color: black;

  }

  .single-variation {
    display: flex !important;
    margin-right: 1rem !important;
  }
}

.colorados_finest_submit {
}

.product_title, .entry-title {
  font-weight: bold !important;
  font-size: 3rem !important;
  font-weight: bold !important;
}