.colorado_product {
  font-family: Gotham, Arial, Helvetica, sans-serif;
  display: flex !important;
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;

  .colorado_product_gallery {
    display: flex !important;
    overflow: hidden !important;
    width: 100%
  }
}

.colorado_variations {
  display: flex;

  .colorado_variation {
    margin-right: 0.5rem;
    display: flex;

    .value {

      .colorados_dropdown {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        border-radius: 1em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
      }

      .colorados_dropdown::-ms-expand {
        display: none;
      }

      .colorados_dropdown:hover {
        border-color: #888;
      }

      .colorados_dropdown:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
      }

      .qty_select {
        background-color: white;
        box-shadow: unset;
        border: 1px solid #aaa;
        border-radius: 1em;
        padding: .6em 1.4em .5em .8em !important;
        font-size: 16px;
      }
    }
  }

  align-items: flex-end;
}

.variation_price {
  display: flex;
  color: $coloradosYellow !important;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;

  .price {
    display: unset !important;
    margin: unset !important;
  }

  .price_title {
    margin-right: 0.5rem;
    color: black;

  }

  .single-variation {
    display: flex !important;
    margin-right: 1rem !important;
  }
}

.colorados_finest_submit {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product_title, .entry-title {
  font-weight: bold !important;
  font-size: 3rem !important;
  font-weight: bold !important;
}

.table_products {
  font-size: 1rem !important;
  margin-top: 1rem;
}

.product_table {
  margin-top: 2rem !important;

  td {
    text-align: center;
  }
}

.simple_submit_button {
  clear: both;
  margin-top: 4rem !important;
}

.quantity .qty {
  background-color: white;
  box-shadow: unset;
  border: 1px solid #aaa;
  border-radius: 1em;
  padding: .6em 1.4em .5em .8em !important;
  font-size: 16px;
}

